<form action="{{ env('APP_URL') }}profile/documentUpload" enctype="multipart/form-data"
                    class="row ss-item-required" method="post" enctype='multipart/form-data'>
                    @csrf
                    <input type="hidden" name="document_name" value="Pan Card">
                    <input type="hidden" name="uid" value="{{ $user->id }}">
                    <div class="row">
                        <div class="col-6">
                            <label class="fontmed" for="">Pan Card Number<span
                                    class="text-danger">*</span></label>
                            <div class="p-1 border border-black overflow-hidden d-flex align-items-center rounded-1 br">
                                <div class="inputicon"> <i class="fa-solid fa-id-card fa-xl inputicon"></i>
                                </div>
                                <input type="text" value="" name="document_value" class="border-0">
                            </div>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-6">
                            <label class="fontmed" for="">Pan Image<span class="text-danger">*</span></label>
                            <div class="p-1 border border-black overflow-hidden d-flex align-items-center rounded-1">
                                <label for="document_image" class="border w-100 mt-0" style="aspect-ratio:16/9;">
                                    <input type="file" name="document_image" id="document_image" class="d-none">
                                    <div style="display: flex"
                                        class=" justify-content-center align-items-center w-100 h-100" id="plus">
                                        <i class="fa-solid fa-plus fs-5"></i>
                                    </div>
                                    <img src="" class="w-100 h-100" alt="" id="prvei"
                                        style="display: none ;object-fit:contain;">
                                </label>
                            </div>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-4">
                            <button type="submit" name="pancard" class="btn baseBtnBg text-white my-3"><i
                                    class="fa-solid fa-user-pen"></i> Upload pan</button>
                        </div>
                    </div>
                </form>
                <form action="{{ env('APP_URL') }}profile/documentUpload" enctype="multipart/form-data"
                    class="row ss-item-required" method="post" enctype='multipart/form-data'>
                    @csrf
                    <input type="hidden" name="uid" value="{{ $user->id }}">
                    <div class="row">
                        <div class="col-12">
                            <p class="h4 fw-bold text-center">Last Company Document</p>
                        </div>
                        <div class="col-6">
                            <label class="fontmed border-0" for=""> Select One<span
                                    class="text-danger">*</span></label>
                            <div class="d-flex">
                                <div class="p-1 d-flex align-items-center  ">
                                    <label class="fs-6 mt-0 d-flex align-items-center" for=""><span><i
                                                class="fa-solid fa-envelope-open-text me-2"></i></span>Experianse &
                                        releving <input type="radio" name="document_name" class="mx-2"
                                            id=""
                                            value="Experianse &
                                            releving"></label>
                                </div>
                                <div class="mx-3 p-1 d-flex align-items-center  ">
                                    <label for="" class="fs-6 mt-0 d-flex align-items-center"> <span><i
                                                class="fa-solid fa-file-invoice-dollar me-2"></i></span> Salary
                                        slip</label>
                                    <input type="radio" name="document_name" class="mx-2" id=""
                                        value="Salary
                                    slip">
                                </div>
                            </div>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-6">
                            {{-- <label class="fontmed" for=""><span
                                    class="text-danger">*</span></label> --}}
                            <div class="p-1 border border-black overflow-hidden d-flex align-items-center rounded-1">
                                <label for="aadhaar_front" class="border w-100 mt-0" style="aspect-ratio:16/9;">
                                    <input type="file" name="document_image	" id="aadhaar_front" class="d-none">
                                    <div style="display: flex"
                                        class=" justify-content-center align-items-center w-100 h-100" id="plus">
                                        <i class="fa-solid fa-plus fs-5"></i>
                                    </div>
                                    <img src="" class="w-100 h-100" alt="" id="prvei"
                                        style="display: none ;object-fit:contain;">
                                </label>
                            </div>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-4">
                            <button type="submit" name="lastcom" class="btn baseBtnBg text-white my-3"><i
                                    class="fa-solid fa-user-pen"></i> Upload Document</button>
                        </div>
                    </div>
                </form>
                <form action="{{ env('APP_URL') }}profile/documentUpload" enctype="multipart/form-data"
                    class="row ss-item-required" method="post" enctype='multipart/form-data'>
                    @csrf
                    <div class="row">
                        <div class="col-12">
                            <p class="h4 fw-bold text-center">Upload Study documents</p>
                        </div>
                        {{-- <div class="col-6"></div> --}}
                        <div class="col-6">
                            <label class="fontmed" for="">Document One<span
                                    class="text-danger">*</span></label>
                            <div
                                class="p-1 my-2 border border-black overflow-hidden d-flex align-items-center rounded-1 br">
                                <div class="inputicon"> <i class="fa-solid fa-graduation-cap "></i>
                                </div>
                                <select type="text" value="" name="document_name" class="border-0">
                                    <option value="">Secondary</option>
                                    <option value="">Higher secondary</option>
                                    <option value="">Any Highest Education</option>
                                </select>
                            </div>

                            <label for="aadhaar_front" class="border w-100 mt-0" style="aspect-ratio:16/9;">
                                <input type="file" name="document_image" id="aadhaar_front" class="d-none">
                                <div style="display: flex"
                                    class=" justify-content-center align-items-center w-100 h-100" id="plus">
                                    <i class="fa-solid fa-plus fs-5"></i>
                                </div>
                                <img src="" class="w-100 h-100" alt="" id="prvei"
                                    style="display: none ;object-fit:contain;">
                            </label>
                        </div>

                        <div class="col-6">
                            <label class="fontmed" for="">Document two<span
                                    class="text-danger">*</span></label>
                            <div
                                class="p-1 my-22 border border-black overflow-hidden d-flex align-items-center rounded-1 br">
                                <div class="inputicon"> <i class="fa-solid fa-graduation-cap"></i>
                                </div>
                                <select type="text" value="" name="document_name" class="border-0">
                                    <option value="">Secondary</option>
                                    <option value="">Higher secondary</option>
                                    <option value="">Any Highest Education</option>
                                </select>
                            </div>

                            <label for="aadhaar_front" class="border w-100 mt-0" style="aspect-ratio:16/9;">
                                <input type="file" name="document_image" id="aadhaar_front" class="d-none">
                                <div style="display: flex"
                                    class=" justify-content-center align-items-center w-100 h-100" id="plus">
                                    <i class="fa-solid fa-plus fs-5"></i>
                                </div>
                                <img src="" class="w-100 h-100" alt="" id="prvei"
                                    style="display: none ;object-fit:contain;">
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn baseBtnBg text-white my-3"><i
                                class="fa-solid fa-user-pen"></i>
                            Upload Study Document</button>
                    </div>
                </form>